* {
  padding: 0;
  margin 0;
  text-decoration: none;
  list-style: none;
}

header {

}

.main-navigation {

}

.our-story {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-box-our-story {
  width: 25%;
  margin: 80px 80px;

}

.text-box-our-story button {
  background-color: white;
  color: #68DACE;
  border: 1px #68DACE solid;
  width: 120px;
  height: 40px;
  margin-top: 10px;
}

.story-video {

}

.expertise {

}

.meet-team {

}

.form {

}
