* {
  padding: 0;
  margin 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

header {

}

.main-navigation {

}

.our-story {

}

.story-video {

}

.expertise {

}

.meet-team {

}

.form {

}
